@page "/phayarsar/{title}"

<PageTitle>Phayarsar</PageTitle>

@if (!isDetail)
{
    if (groupData is null || groupData.Data is null)
    {
        <p>No data available.</p>
    }
    else
    {
        <div class="kioto_tm_title">
            <h3 class="py-3">@groupData.title</h3>
        </div>
        <div class="text">
            <table class="table">
                <tbody>
                    @foreach (var item in groupData.Data)
                    {
                        <tr>
                            <td>
                                <a href="javascript:void(0);" @onclick="@(() => OnPhayarsarClick(item))">
                                    @item.Title
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
else
{
    <button type="button" @onclick="Back" class="btn btn-dark">Back</button>
    if (Detail is not null)
    {
        <PhayarsarContentDetails Detail="Detail" />
    }
}

@code {
    [Parameter]
    public string title { get; set; }

    private GroupData? groupData;
    private bool isDetail = false;
    private DataDetail Detail;

    public class GroupData
    {
        public int groupId { get; set; }
        public string title { get; set; }
        public List<DataItem> Data { get; set; }
    }

    public class DataItem
    {
        public int Id { get; set; }
        public int GroupId { get; set; }
        public string Title { get; set; }
        public string Content { get; set; }
    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var allGroups = await HttpClient.GetFromJsonAsync<GroupData[]>("data/data.json");
            if (allGroups != null)
            {
                groupData = allGroups.FirstOrDefault(g => g.title == title);
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error fetching group data: {ex.Message}");
        }
    }

    private void OnPhayarsarClick(DataItem item)
    {
        // Navigation.NavigateTo($"/phayarsar/{title}/{groupId}/{id}");
        Detail = new DataDetail
            {
                content = item.Content,
                groupId = item.GroupId,
                id = item.Id,
                title = item.Title
            };
        isDetail = true;
    }

    private void Back()
    {
        // Navigation.NavigateTo($"/phayarsar/{WebUtility.UrlDecode(title)}");
        isDetail = false;
    }
}