@page "/phayarsar/{title}/{groupId:int}/{id:int}"

<PageTitle>Phayarsar</PageTitle>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <h3 class="pt-4 pb-3">@data.title</h3>


    @if (data == null)
    {
        <p>No data available.</p>
    }
    else
    {
        <table class="table">
            <tbody>
                    <tr>
                        <td>@data.content</td>
                    </tr>
                
            </tbody>
        </table>
    }
}

@code {
    // [Parameter]
    // public int id { get; set; }
    // [Parameter]
    // public int groupId { get; set; }
    // [Parameter]
    // public string title { get; set; }

    private DataDetail? data;

    [Parameter]
    public DataDetail Detail { get; set; }

    public class DataDetail
    {
        public int id { get; set; }
        public int groupId { get; set; }
        public string title { get; set; }
        public string content { get; set; }
    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (Detail.id > 0 && Detail.groupId > 0)
            {
                data = await HttpClient.GetFromJsonAsync<DataDetail>($"data/{Detail.groupId}/{Detail.id}.json");
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error fetching group data: {ex.Message}");
        }
    }
}
