@page "/"

<PageTitle>Phayarsar</PageTitle>

<h4>ငါးပါးသီလ ခံယူတည်ဆောက်ပုံ</h4>

<p>
    သြကာသ၊ သြကာသ၊ သြကာသ ကာယကံ၊ ဝစီကံ၊ မနောကံ သဗ္ဗဒေါသ ခပ်သိမ်းသော အပြစ်တို့ကို ပျောက်ပါစေခြင်း အကျိုးငှာ ပထမ၊ ဒုတိယ၊ တတိယ၊ တစ်ကြိမ်၊ နှစ်ကြိမ်၊ သုံးကြိမ်မြောက်အောင် ဘုရားရတနာ၊ တရားရတနာ၊ သံဃာရတနာ၊ ရတနာမြတ်သုံးပါးတို့ကို အရိုအသေ အလေးအမြတ် လက်အုပ်မိုး၍ ရှိခိုးပူဇော် ဖူးမြော်မာန်လျှော့ ကန်တော့ပါ၏ အရှင်ဘုရား … ကန်တော့ရသော အကျိုးအားကြောင့် အပါယ်လေးပါး၊ ကပ်သုံးပါး၊ ရပ်ပြစ်ရှစ်ပါး၊ ရန်သူမျိုးငါးပါး၊ ဝိပတ္တိတရားလေးပါး၊ ဗျသနတရား ငါးပါးတို့မှ အခါခပ်သိမ်း ကင်းလွတ်ငြိမ်းသည်ဖြစ်၍ မဂ်တရား၊ ဖိုလ်တရား နိဗ္ဗာန်ချမ်းသာ တရားတော်မြတ်ကို ရပါလို၏ အရှင်ဘုရား …
</p>
<hr />
<p>
    အဟံ ဘန္တေ တိသရဏေနသဟ ပဉ္စသီလံ ဓမ္မံယာစာမိ အနုဂ္ဂဟံ ကတွာ သီလံဒေထ မေဘန္တေ။
</p>
<p>
    ( ဒုတိယမ္ပိ ) အဟံ ဘန္တေ တိသရဏေနသဟ ပဉ္စသီလံ ဓမ္မံယာစာမိ အနုဂ္ဂဟံ ကတွာ သီလံဒေထ မေဘန္တေ။
</p>
<p>
    (တတိယမ္ပိ) အဟံ ဘန္တေ တိသရဏေနသဟ ပဉ္စသီလံ ဓမ္မံယာစာမိ အနုဂ္ဂဟံ ကတွာ သီလံဒေထ မေဘန္တေ။
</p>
<p>
    (အာမဘန္တေပါ အရှင်ဘုရား)
</p>
<hr />
<p>
    နမော တဿ ဘဂဝတော အရဟတော သမ္မာသမ္ဗုဒ္ဓဿ။
</p>
<p>
    နမော တဿ ဘဂဝတော အရဟတော သမ္မာသမ္ဗုဒ္ဓဿ။
</p>
<p>
    နမော တဿ ဘဂဝတော အရဟတော သမ္မာသမ္ဗုဒ္ဓဿ။
</p>
<hr />
<p>
    ဗုဒ္ဓံ သရဏံ ဂစ္ဆာမိ။ ဓမ္မံ သရဏံ ဂစ္ဆာမိ။ သံဃံ သရဏံ ဂစ္ဆာမိ။
</p>
<p>
    ဒုတိယမ္ပိ ဗုဒ္ဓံ သရဏံ ဂစ္ဆာမိ။ ဒုတိယမ္ပိ ဓမ္မံ သရဏံ ဂစ္ဆာမိ။ ဒုတိယမ္ပိ သံဃံ သရဏံ ဂစ္ဆာမိ။
</p>
<p>
    တတိယမ္ပိ ဗုဒ္ဓံ သရဏံ ဂစ္ဆာမိ။ တတိယမ္ပိ ဓမ္မံ သရဏံ ဂစ္ဆာမိ။ တတိယမ္ပိ သံဃံ သရဏံ ဂစ္ဆာမိ။
</p>
<p>
    (အာမဘန္တေပါ အရှင်ဘုရား။)
</p>

<hr />

<p>
    (၁) ပါဏာတိပါတာ ဝေရမဏိ သိက္ခာပဒံ သမာဒိယာမိ
</p>
<p>

    (၂) အဒိန္နာဒါနာ ဝေရမဏိ သိက္ခာပဒံ သမာဒိယာမိ
</p>
<p>

    (၃) ကာမေသုမိစ္ဆာစာရာ ဝေရမဏိ သိက္ခာပဒံ သမာဒိယာမိ
</p>
<p>

    (၄) မုသာဝါဒါ ဝေရမဏိ သိက္ခာပဒံ သမာဒိယာမိ
</p>
<p>

    (၅) သုရာမေရယ မဇ္ဇပမာဒဋ္ဌာနာ ဝေရမဏိ သိက္ခာပဒံ သမာဒိယာမိ
</p>
<p>

    (အာမဘန္တေပါ အရှင်ဘုရား)
</p>
<hr />
<h4>အရပ်(၁၀)မျက်နှာ မေတ္တာပွားနည်း</h4>
<p>
    ၁။ အရှေ့အရပ်၌ ရှိသော အနန္တစင်္ကြာဝဠာအနန္တသတ္တဝါတို့

    ဘေးရန်ခပ်သိမ်းငြိမ်းကြပါစေ။ ဒေါသခပ်သိမ်းငြိမ်းကြပါစေ။

    ဆင်းရဲခပ်သိမ်းငြိမ်းကြပါစေ။ နှလုံးစိတ်ဝမ်း အေးချမ်းကြပါစေ။

</p>
<p>
    ၂။ အနောက်အရပ်၌ ရှိသော အနန္တစင်္ကြာဝဠာအနန္တသတ္တဝါတို့

    ဘေးရန်ခပ်သိမ်းငြိမ်းကြပါစေ။ ဒေါသခပ်သိမ်းငြိမ်းကြပါစေ။

    ဆင်းရဲခပ်သိမ်းငြိမ်းကြပါစေ။ နှလုံးစိတ်ဝမ်း အေးချမ်းကြပါစေ။

</p>
<p>
    ၃။ မြောက်အရပ်၌ရှိသော အနန္တစင်္ကြာဝဠာအနန္တသတ္တဝါတို့

    ဘေးရန်ခပ်သိမ်းငြိမ်းကြပါစေ။ ဒေါသခပ်သိမ်းငြိမ်းကြပါစေ။

    ဆင်းရဲခပ်သိမ်းငြိမ်းကြပါစေ။ နှလုံးစိတ်ဝမ်း အေးချမ်းကြပါစေ။

</p>
<p>
    ၄။ တောင်အရပ်၌ ရှိသော အနန္တ စင်္ကြာဝဠာ အနန္တ သတ္တဝါတို့

    ဘေးရန်ခပ်သိမ်းငြိမ်းကြပါစေ။ ဒေါသခပ်သိမ်းငြိမ်းကြပါစေ။

    ဆင်းရဲခပ်သိမ်းငြိမ်းကြပါစေ။ နှလုံးစိတ်ဝမ်း အေးချမ်းကြပါစေ။

</p>
<p>
    ၅။ အရှေ့တောင်ထောင့်အရပ်၌ ရှိသော အနန္တစင်္ကြာဝဠာအနန္တသတ္တဝါတို့


    ဘေးရန်ခပ်သိမ်းငြိမ်းကြပါစေ။ ဒေါသခပ်သိမ်းငြိမ်းကြပါစေ။

    ဆင်းရဲခပ်သိမ်းငြိမ်းကြပါစေ။ နှလုံးစိတ်ဝမ်း အေးချမ်းကြပါစေ။

</p>
<p>
    ၆။ အနောက်မြောက်ထောင့်အရပ်၌ ရှိသော အနန္တစင်္ကြာဝဠာအနန္တသတ္တဝါတို့

    ဘေးရန်ခပ်သိမ်းငြိမ်းကြပါစေ။ ဒေါသခပ်သိမ်းငြိမ်းကြပါစေ။

    ဆင်းရဲခပ်သိမ်းငြိမ်းကြပါစေ။ နှလုံးစိတ်ဝမ်း အေးချမ်းကြပါစေ။

</p>
<p>
    ၇။ အရှေ့မြောက် ထောင့် အရပ်၌ ရှိသော အနန္တစင်္ကြာဝဠာအနန္တသတ္တဝါတို့

    ဘေးရန်ခပ်သိမ်းငြိမ်းကြပါစေ။ ဒေါသခပ်သိမ်းငြိမ်းကြပါစေ။

    ဆင်းရဲခပ်သိမ်းငြိမ်းကြပါစေ။ နှလုံးစိတ်ဝမ်း အေးချမ်းကြပါစေ။

</p>
<p>
    ၈။ အနောက်တောင်ထောင့် အရပ်၌ ရှိသော အနန္တစင်္ကြာဝဠာအနန္တသတ္တဝါတို့

    ဘေးရန်ခပ်သိမ်းငြိမ်းကြပါစေ။ ဒေါသခပ်သိမ်းငြိမ်းကြပါစေ။

    ဆင်းရဲခပ်သိမ်းငြိမ်းကြပါစေ။ နှလုံးစိတ်ဝမ်း အေးချမ်းကြပါစေ။

</p>
<p>
    ၉။ အောက်အရပ်၌ ရှိသော ထက်ဝန်းကျင် အနန္တ စင်္ကြာဝဠာ အပါယ်ဘုံသား အနန္တသတ္တဝါတို့

    ဘေးရန်ခပ်သိမ်းငြိမ်းကြပါစေ။ ဒေါသခပ်သိမ်းငြိမ်းကြပါစေ။

    ဆင်းရဲခပ်သိမ်းငြိမ်းကြပါစေ။ နှလုံးစိတ်ဝမ်း အေးချမ်းကြပါစေ။

</p>
<p>
    ၁၀။ အထက်အရပ်၌ ရှိသော ထက်ဝန်းကျင် အနန္တ စကြာဝဠာ အနန္တနတ်ဗြဟ္မာတို့

    ဘေးရန်ခပ်သိမ်းငြိမ်းကြပါစေ။ ဒေါသခပ်သိမ်းငြိမ်းကြပါစေ။

    ဆင်းရဲခပ်သိမ်းငြိမ်းကြပါစေ။ နှလုံးစိတ်ဝမ်း အေးချမ်းကြပါစေ။

</p>

<hr />

<h4>မေတ္တာသုတ်လာ မေတ္တာပွားနည်း</h4>

<p>၁။ လုံးစုံများစွာ၊ သတ္တဝါ၊ ချမ်းသာကိုယ်စိတ်မြဲပါစေ။ ဥပဒ်ရန်ဘေး၊ ကင်းစင်ဝေး၊ ငြိမ်းအေးကြပါစေ။</p>
<p>၂။ ကြောက်တတ်မကြောက်တတ်၊ နှစ်ရပ်များစွာ၊ သတ္တဝါ၊ ချမ်းသာကိုယ်စိတ်မြဲပါစေ။ ဥပဒ်ရန်ဘေး၊ ကင်းစင်ဝေး၊ ငြိမ်းအေးကြပါစေ။</p>
<p>၃။ မြင်အပ်မမြင်အပ်၊ နှစ်ရပ်များစွာ၊ သတ္တဝါ၊ ချမ်းသာကိုယ်စိတ်မြဲပါစေ။ ဥပဒ်ရန်ဘေး၊ ကင်းစင်ဝေး၊ ငြိမ်းအေးကြပါစေ။</p>
<p>၄။ ဝေးနေ နီးနေ၊ နှစ်ထွေများစွာ၊ သတ္တဝါ၊ ချမ်းသာကိုယ်စိတ်မြဲပါစေ။ ဥပဒ်ရန်ဘေး၊ ကင်းစင်ဝေး၊ ငြိမ်းအေးကြပါစေ။</p>
<p>၅။ ဘဝဇာတ်ဆုံး၊ မဆုံးများစွာ၊ သတ္တဝါ၊ ချမ်းသာကိုယ်စိတ်မြဲပါစေ။ ဥပဒ်ရန်ဘေး၊ ကင်းစင်ဝေး၊ ငြိမ်းအေးကြပါစေ။</p>
<p>၆။ ရှည်တို အလတ်၊ သုံးရပ်ခန္ဓာ၊ သတ္တဝါ၊ ချမ်းသာကိုယ်စိတ်မြဲပါစေ။ ဥပဒ်ရန်ဘေး၊ ကင်းစင်ဝေး၊ ငြိမ်းအေးကြပါစေ။</p>
<p>၇။ ကြီး ငယ် အလတ်၊ သုံးရပ်ခန္ဓာ၊ သတ္တဝါ၊ ချမ်းသာကိုယ်စိတ်မြဲပါစေ။ ဥပဒ်ရန်ဘေး၊ ကင်းစင်ဝေး၊ ငြိမ်းအေးကြပါစေ။</p>
<p>၈။ ဆူကြုံအလတ်၊ သုံးရပ်ခန္ဓာ၊ သတ္တဝါ၊ ချမ်းသာကိုယ်စိတ်မြဲပါစေ။ ဥပဒ်ရန်ဘေး၊ ကင်းစင်ဝေး၊ ငြိမ်းအေးကြပါစေ။</p>
<p>၉။ လူအချင်းချင်း၊ လှည့်ပတ်ခြင်း၊ ကင်းရှင်းကြပါစေ။</p>
<p>၁၀။ အထင်သေးခြင်း၊ အချင်းချင်း၊ ကင်းရှင်းကြပါစေ။</p>
<p>၁၁။ ဆင်းရဲလိုခြင်း၊ အချင်းချင်း၊ ကင်းရှင်းကြပါစေ။</p>

<hr />

<h4>မေတ္တသုတ် ပါဠိတော်</h4>

<p>
    ယဿာနုဘာဝတော ယက္ခာ၊ နေဝ ဒဿေန္တိ ဘီသနံ။ ယဉှိ စေဝါ နုယုဉ္ဇန္တော၊ ရတ္တိန္ဒိဝ မတန္ဒိတော။
</p>
<p>

    သုခံ သုပတိ သုတ္တော စ၊ ပါပံ ကိဉ္စိ န ပဿတိ။ ဧဝမာဒိ ဂုဏူပေတံ။ ပရိတ္တံ တံ ဘဏာမ ဟေ။
</p>
<p>

    ကရဏီယ မတ္ထကုသလေန၊ ယန္တ သန္တံ ပဒံ အဘိသမေစ္စ။ သက္ကော ဥဇူ စ သုဟုဇူ စ၊ သုဝစော စဿ မုဒု အနတိမာနီ။
</p>
<p>

    သန္တုဿကော စ သုဘရော စ၊ အပ္ပကိစ္စော စ သလ္လဟုကဝုတ္တိ။ သန္တိန္ဒြိယော စ နိပကော စ၊ အပ္ပဂဗ္ဘော ကုလေသွ န နုဂိဒ္ဓေါ။
</p>
<p>

    န စ ခုဒ္ဒ မာစရေ ကိဉ္စိ၊ ယေန ဝိညူ ပရေ ဥပ ဝဒေယျုံ။ သုခိနောဝ ခေမိနော ဟောန္တု၊ သဗ္ဗသတ္တာ ဘဝန္တု သုခိတတ္တာ။
</p>
<p>

    ယေ ကေစိ ပါဏဘူတတ္ထိ၊ တသာ ဝါ ထာဝရာဝ နဝသေသာ။ ဒီဃာ ဝါ ယေဝ မဟန္တာ၊ မဇ္ဈိမာ ရဿကာ အဏုကထူလာ။
</p>
<p>

    ဒိဋ္ဌာ ဝါ ယေဝ အဒိဋ္ဌာ၊ ယေဝ ဒူရေ ဝသန္တိ အဝိဒူရေ။ ဘူတာဝ သမ္ဘဝေသီဝ၊ သဗ္ဗသတ္တာ ဘဝန္တု သုခိတတ္တာ။
</p>
<p>

    န ပရော ပရံ နိကုဗ္ဗေထ၊ နာတိမညေထ ကတ္ထစိ န ကဉ္စိ။ ဗျာရောသနာ ပဋိဃသည၊ နာညမညဿ ဒုက္ခ မိစ္ဆေယျ။
</p>
<p>

    မာတာ ယထာ နိယံပုတ္တ၊ မာယုသာ ဧကပုတ္တ မနုရက္ခေ။ ဧဝမ္ပိ သဗ္ဗဘူတေသု၊ မာနသံ ဘာဝယေ အပရိမာဏံ။
</p>
<p>

    မေတ္တဉ္စ သဗ္ဗလောကသ္မိံ၊ မာနသံ ဘာဝယေ အပရိမာဏံ။ ဥဒ္ဓံ အဓော စ တိရိယဉ္စ၊ အသမ္ဗာဓံ အဝေရ မသပတ္တံ။
</p>
<p>

    တိဋ္ဌံ စရံ နိသိန္နော ဝ၊ သယာနော ယာဝတာဿ ဝိတမိဒ္ဓေါ။ ဧတံ သတိံ အဓိဋ္ဌေယျ၊ ဗြဟ္မ မေတံ ဝိဟာရ မိဓ မာဟု။
</p>
<p>

    ဒိဋ္ဌိဉ္စ အနုပဂ္ဂမ္မ၊ သီလဝါ ဒဿနေန သမ္ပန္နော။ ကာမေသု ဝိနယ ဂေဓံ၊ န ဟိ ဇာတုဂ္ဂဗ္ဘသေယျ ပုန ရေတိ။

    မေတ္တသုတ္တံ နိဋ္ဌိတံ။
</p>

<hr />

<h4>ဆုတောင်းအမျှဝေရန်</h4>

<p>
    ဤသို့ပြုရ မြတ်ပုညကို ကြီးထမြင့်ခေါင် မြင်းမိုရ်တောင်ဦး မကကြူးသား
</p>
<p>

    ကျေးဇူးအရှင် မွေးမိခင်နှင့် ဖခင်တို့အား ရငြားပါစေ အမျှဝေ၏
</p>
<p>

    မသွေနိစ္စ ဤကာယကို စောင့်ထပေတတ် ကိုယ်စောင့်နတ်လည်း မလပ်စေရ ပေးဝေငှ၏
</p>
<p>

    မိတ္တဆွေဉာ ဆရာသမား ဘိုးဘွားကစ ယမရာဇာ ဒေဝါယက္ခ ဣန္ဒဘုမ္မာ အာကာသနတ် အထူးမှတ်၍
</p>
<p>

    မပြတ်ပုည ကုသလကို ရကြပါစေ အမျှဝေ၏
</p>
<p>

    သဗ္ဗေသတ္တာ သတ္တဝါဟု နာနာလောက အနန္တတွင် မပြတ်စဉ်က သတ္တာဝါသ ဘုံကိုးဝနှင့် ဝိညာဏဌိတိ တည်ရှိခုနစ်ပါး
</p>
<p>

    များစွာလုံးစုံ ဘုံသုံးဆယ့်တစ် ဖြစ်ဖြစ်သမျှ
</p>
<p>

    ဝေနေယျအား အမျှကုသိုလ် ပေးဝေလို၏
</p>
<p>

    ထိုကုသလ ဤပုညကို အမျှရကြသည် ဖြစ်စေသော်
</p>
<p>

    ဝသုန္ဓရေ ဤမြေပံသု သိလာထုလည်း သက်သေအမှု တည်စေသော်။
</p>
<p>

    (အားလုံးကြားကြားသမျှ အမျှ အမျှ အမျှ ယူတော်မူကြပါကုန်လော့…..သာဓု သာဓု သာဓု)
</p>