@page "/"
@inject HttpClient HttpClient
@inject NavigationManager Navigation

<PageTitle>Phayarsar</PageTitle>

<h1>ဘုရားစာများ</h1>

@if (phayarsars == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var phayarsar in phayarsars)
            {
                <tr @onclick="@(() => OnPhayarsarClick(phayarsar.Title))">
                    <td>@phayarsar.Title</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Phayarsars[]? phayarsars;

    protected override async Task OnInitializedAsync()
    {
        phayarsars = await HttpClient.GetFromJsonAsync<Phayarsars[]>("data/data.json");
    }

    public class Phayarsars
    {
        public string Title { get; set; }
    }

    private void OnPhayarsarClick(string title)
    {
        Navigation.NavigateTo($"/phayarsarDetails/{title}");
    }
}